<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FR_Validate_Demo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.7.0" newVersion="2.0.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <FR_Validate_Demo.Properties.Settings>
      <setting name="SQRC_KEY" serializeAs="String">
        <value>0123456789ABCDEF</value>
      </setting>
      <setting name="TITLE" serializeAs="String">
        <value>FACE SQRC CORE TECH DEMO - Validating</value>
      </setting>
      <setting name="DEBUG_FLAG" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FR_SCANNER" serializeAs="String">
        <value>QK30-U</value>
      </setting>
      <setting name="CAMERA_NO" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FACE_CHECK_COUNT" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="FACE_SUCCESS_COUNT" serializeAs="String">
        <value>15</value>
      </setting>
    </FR_Validate_Demo.Properties.Settings>
  </userSettings>
</configuration>