<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FR_Core_Tech_Demo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.7.0" newVersion="2.0.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <FR_Core_Tech_Demo.Properties.Settings>
      <setting name="BACKUP_LOG" serializeAs="String">
        <value>backuplog.txt</value>
      </setting>
      <setting name="DEBUG_FLAG" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TITLE" serializeAs="String">
        <value>FACE SQRC CORE TECH DEMO</value>
      </setting>
      <setting name="IMG_PATH" serializeAs="String">
        <value>C:\temp\demo\</value>
      </setting>
      <setting name="IMG_EXT" serializeAs="String">
        <value>PNG</value>
      </setting>
      <setting name="CAMERA_NO" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FR_SQRC_EXPIRY_DAYS" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="SQRC_KEY" serializeAs="String">
        <value>0123456789ABCDEF</value>
      </setting>
    </FR_Core_Tech_Demo.Properties.Settings>
  </userSettings>
</configuration>